@import url(//fonts.googleapis.com/css?family=Fjalla+One);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&subset=cyrillic,cyrillic-ext');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    background: #ecf0f1; 
}

.header {
    background-color: #ffa726;
    background: linear-gradient(135deg, rgb(249, 182, 39)  0%, rgb(208, 99, 87)  100%);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    width: 90%;
    margin: 0 auto;
}
.header-content h1 {
    margin: 0;
    padding: 0;
    font-size: 5vw;
    font-family: 'Fjalla One', Arial, sans-serif;
    text-shadow: 0 -3px 0 #231000;
    color: #893e00;
}
.header-content a {
    display: block;
    width: 65px;
    height: 62px;
    font-size: 0;
    background-image: url("./icons/github-icon-1.svg");
}
.header-content a:hover {
    background-image: url("./icons/github-icon-2.svg");
}


.wrapper {
    display: flex;
    width: 90%;
    padding: 2%;
    margin: 0 auto;
}

.sidebar {
    width: 40%;
    margin-right: 2%;
}

.sidebar h1 {
    color: #893e00;
    font-weight: bold;
    font-size: 40px;
}

/* ------- FORM ------- */

.form {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.form-input {
    margin-bottom: 15px;
    height: 60px;
    background-clip: padding-box;
    outline: none;
    font-size: 15px;
    box-shadow: 0 0 0 2px #E7A731;
    border: 0 none;
    transition:  0.5s ease;
    text-indent: 25px;
}
.form-input::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.form-input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;} 

.form-area {
    box-shadow: 0 0 0 2px #E7A731;
    margin-bottom: 25px;
    padding: 20px 25px;
    height: 140px;
    resize: none;
    border: 0 none;
    background-clip: padding-box;
    outline: none;
}
.form-area::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.form-area:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

.form-button__add {
    background: #DFA339;
    color: #893e00;
    height: 60px;
    border: 0;
    font-weight: bold;
    font-size: 30px;
    outline: none;
    transition:  0.3s ease;
}
.form-button__add:hover {background: #CD8920}

/* ----------------- Recipe List ------------- */

.main {
    width: 50%;
    margin-left: 10%;
}

.main h1 {
    color: #893e00;
    font-weight: bold;
    font-size: 40px;
}

.main-list {
    padding: 0;
    text-decoration: none;
}

.main-list__item {
    display: block;
    margin-bottom: 10px;
}

.main-list__item-title {
    height: 60px;
    background: #DFA339;
    color: #893e00;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    position: relative;
    padding: 10px;
    z-index: 2000;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
    transition: all .2s ease-in;
}
.main-list__item-title:hover { background: #CD8920}

.main-list__item-content {
    height: 30px;
    background-color: transparent;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    text-align: center;
    margin-top: -30px;
    text-align: left;
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: all 200ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.main-list__item-content.content-open {
    margin-top: 0px;
    height: 100%;
    background-color: rgba(0,0,0, .1);
    transition: all 350ms cubic-bezier(0.080, 1.090, 0.320, 1);
    visibility: visible;
    opacity: 1;
}

